*, *::before , *::after{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------- HEADER --------------------------*/
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li{
    list-style: none;
}


.header{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
}

ul{
    display: flex;
    padding: 0;
    

}

.menu-listaItem a{
    padding: 0 10px;
}

.menu-item{
    font-size: 12px;
    display: flex;
    height: 50px;
    width: 100px;
    align-items: center;
    justify-content: center;
    
    background: rgb(255, 255, 255);
}

.menu-item:hover{
    background: coral;
    color: rgb(253, 253, 253);
}

.logo-menu img{
    width: 25px;
    height: 25px;
}




.correo-menu{
    font-size: 9px;
    color: coral;
    display: flex;
}

.correo-menu :nth-child(2){
   color: black;
}

.boton-menu a{
    border: 1px solid coral;
    background-color: white;
    color: coral;
    padding: 10px 20px;
    font-size: 12px;
}

.boton-menu a:hover{
    color: white;
    background:coral;
}


/* -------------------- BANNER IMG --------------------------*/

.banner{
    width: 100%;
    height: 700px;
}

.banner img{
    width: 100%;
    height: 700px;
   
    position: absolute;
}



.icons{
    padding: 0 70px;
    
}

.icons{
    
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.icons a img{
    width: 15px;
    height: 15px;
    margin-top: 20px;
}

.info-banner{
    width: 20%;
    color: white;
    position: absolute;
    margin-left: 400px;
    margin-top: 100px;
}

.info-banner :nth-child(1){
   color: black;
}

.info-banner :nth-child(3){
    color: #000000;
    font-size: small;
    
 }

.boton-menu2 a{
    background: #ffffff;
    color: black;
    padding: 10px 20px;
    font-size: 12px;
}

.boton-menu2 a:hover{
    color: white;
    background:black;
}




/* -------------------- SOCIOS --------------------------*/
.socios{
    width: 100%;
    height: 150px;
    padding: 30px;
}
.socios h2{
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.logos-socios{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.logos-socios img{
    width: 80px;
    
    
}

/* -------------------- AWARDS --------------------------*/

.awards{
    width: 100%;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-awards img{
    height: 300px;
}

.info-awards{
    width: 300px;
    font-size: 9pt;
}

.titulo-awards{
   color: coral;
}

.boton-awards{
    margin-top: 30px;
}

.boton-awards a{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    
}

.boton-awards a:hover{
    color: white;
    background:coral;
}



/* -------------------- SOLUTIONS --------------------------*/

.business{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.business h1{
    
    display: flex;
    justify-content: center;
}

.business-cards{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.search{
    width: 300px;
    margin-right: 50px;
    align-items: center;
}
.paid{
    width: 300px;
    margin-left: 50px;
}
.link{
    width: 300px;
}

.business-cards-img{
    height: 30px;
}

.business-button{
    color: coral;
}

.business-button:hover{
    color: black;
}

.business-cards h3{
    color: coral;
}

/* -------------------- SIMPLE--------------------------*/

.simple{
    width: 100%;
    height: 450px;
    font-size: 10pt;
    background: #f5f5f5;
    padding: 30px;
}

.simple-cards-img{
    height: 30px;
}

.simple-parrafo{
    text-align: center;
}
.simple-titulo{
    text-align: center;
}
.simple-subtitulo{
    text-align: center;
}

.simple-cards{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.key{
    width: 230px;
    background: coral;
    padding: 20px;
}
.analize{
    width: 230px;
    background: white;
    padding: 20px;
}
.building{
    width: 230px;
    background: white;
    padding: 20px;
}
.report{
    width: 230px;
    background: white;
    padding: 20px;
}


/* -------------------- TIPS --------------------------*/

.box-tips{
    width: 100%;
    height: 450px;
    background: #d4d4d4;
    padding: 30px;
    font-size: 9pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-tips{
    display: flex;
    margin-top: 50px;
}

.text-cards{
    padding: 15px;
}
.art1{
    width: 200px;
    background: white;
    
}
.art2{
    background: white;
    width: 200px;
    margin-left: 20px;
}
.art3{
    width: 200px;
    background: white;
    margin-left: 20px;
}

.tips-cards-img{
    width: 200px;
}

.tips h3{
    font-size: 7pt;
}

.tips a{
    font-weight: bolder;
    font-size: 11pt;
}

/* -------------------- FOOTER --------------------------*/